header {
    background-color:black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#logo {
    width: 135px;
    height: 135px;
}

#search-bar {
    flex: 1;
    margin: 0 40px;
}

#lupa {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#user {
    width: 45px;
    height: 45px;
    margin: 0px 35px;
    border-radius: 50%;
    cursor: pointer;
}
